<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="dmaj0918_1074524Entity"
        connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kraka.ucn.dk;initial catalog=dmaj0918_1074524;persist security info=True;user id=dmaj0918_1074524;password=Password1!;multipleactiveresultsets=True;application name=EntityFramework&quot;"
        providerName="System.Data.EntityClient"/>
    </connectionStrings>
</configuration>