@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Your Lists";
}



    <h1>@ViewBag.Title</h1>

    <p>
        Content comes here...
    </p>

    @Html.ActionLink("See single List", "SingleList", "User")
