@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Settings";
}


    <div class="container">
        <h1>@ViewBag.Title</h1>

        <p>
            Display User data here.
        </p>
    </div>