@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trashbin";
}

    <div class="container-fluid">
        <h1>@ViewBag.Title</h1>

        <p>
            You can restore the lists you already deleted.

        </p>

        <ul class="list-group">

            <!-- CREATE LI-ITEM FOR EACH LIST -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Groceries
                <span class="badge btn-group-sm">
                    <button class="btn btn-outline-dark" type="button" onclick="">Restore</button>
                </span>
            </li>

        </ul>




    </div>

