body {
    overflow-x: hidden;
}

a {
    color: gray;
    font-style: inherit;
}

.searchbar {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 800px;
}

.carousel {
    width: 100%;
    height: auto;
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login-container {
    margin-top: 50px;
    background-color: dimgrey;
    height: 100%;
    width: auto;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    width: auto;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /* max-width: 280px;*/
}

.logo-landingpage {
 
    
}

/* SINGLE LIST ITEMS */


.card {
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    min-width: 100%;
}

.check-toggle {
    cursor: pointer;
}

#accordionHeading {
    padding-left: 15px;
    padding-right: 15px;
    color: dimgrey;
    font-size: small;
}

.crossout {
    text-decoration: line-through;
    color: dimgray;
}


.editItem {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}





   /* SIDEBAR TOGGLE */
    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
        opacity: 0;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    #page-content-wrapper {
        min-width: 100vw;
        padding-top: 20rem;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

}
