body {
    overflow-x: hidden;
}

#links {
    color: gray;
    font-style: inherit;
}



h1 .pageheading {
    text-align: center !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logout-box {
    padding-left: 5px;
}

.box {
    padding-top: 20px;
    padding-bottom: 20px;
}

i{
    transition-duration: 1s;
}

i:hover {
    width: 1.5em;
    height: 1.5em;
}


/* SEARHCING AND FILTERING*/

.searchFilterArea {
    background-color: whitesmoke;
    border-radius: 5px;
}

.searchbar {
    padding-bottom: 5px;
}

.filterarea {
    padding-left: 20px;
    padding-right: 20px;
}

.searchresults {
    padding-top: 15px;
}

/* LANDING PAGE */
.col .logo-box img {
    max-height: 15vw !important;
}


.col {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.carousel-inner .carousel-item img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: scale-down;
    display: block;
    
}

body .launch {

    /*background*/
}

/* LOGIN & REGISTRATION */

.login-container {
    padding-top: 50px;
    background-color:  lightgrey;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    width: auto;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /* max-width: 280px;*/
}

.navbar-brand {
    font-size: 30px !important;
}

/* YOUR LISTS */

ul li #listLinks {
    color: black;
}

ul li #listLinks:hover {
    color: rgba(216, 0, 0, 0.6);
    text-decoration: none;
    font-weight: 700;
}



/* SINGLE LIST ITEMS */

#headingNames {
    padding-left: 15px;
    padding-right: 15px;
}

.check-toggle {
    cursor: pointer;
}

#accordionHeading {
    padding-left: 15px;
    padding-right: 15px;
    color: dimgrey;
    font-size: small;
}

.crossout {
    text-decoration: line-through;
    color: dimgray;
}


.editItem {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

/* FORMS FOCUS COLOR */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
form-control:focus,
select.form-control:focus,
.uneditable-input:focus {
    border-color: rgba(216, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(216, 0, 0, 0.6);
    outline: 0 none;
}





   /* SIDEBAR TOGGLE */
    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 1.5rem 1.5rem;
        font-size: 1.2rem;
        opacity: 0;
        height: 5em;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    #sidebar-wrapper .list-group .list-group-item {
        border: none;
    }

    #page-content-wrapper {
        min-width: 100vw;
        padding-top: 20rem;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

    button#menu-toggle.navbar-toggler{
        visibility: hidden;
    }

}

@media (max-width: 768px) {
    button#menu-toggle.navbar-toggler {
        visibility: visible;
    }
}
