@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Find Store";
}

    <div class="container">
        <h1>@ViewBag.Title</h1>

        <p>
            Content comes here...
        </p>
    </div>

