@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Landing page of ListIt!</h1>


        <!-- ActionLink here: Name, Action, Controller -->
        @Html.ActionLink("Register", "Register", "Launch")

        @Html.ActionLink("Login", "Login", "Launch")

        @Html.ActionLink("User Dashboard", "Lists", "User")

 

    </div>
</body>
</html>
